    <div class="row">
      <div class="col-md-11 messageBody">
          <h4><%= message.user.fullname %>: </h4>
          <p><%= message.body %></p>
          <span>Sent at <%= message.created_at.strftime('%I:%M') %></span>
      </div>
    </div>
