.DiscussionPage{
    display: flex;
    flex-direction: column;
}
.DiscussionPage .contentContainer{
    display: flex;
    height: calc(100vh - 61px);
}
.DiscussionPage .contentContainer.mobile{
    height: calc(100vh - 40px);
}
.middle-section {
    width: 100%;
    flex: 5;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.middle-section .title {
    padding: 16px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.middle-section .title label{
    text-align: center;
    flex-grow: 1;
}
.middle-section .title i{
    cursor: pointer;
}