.EditProfilePage{
  display: flex;
  flex-direction: column;
}
.EditProfilePage .contentContainer{
  display: flex;
}
.EditProfilePage .editProfileContainer{
  width: 100%;
  margin: 10px 10px 0px 10px;
  height: calc(100vh - 71px);
  flex: 7;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}
.EditProfilePage .editProfileContainer::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.EditProfilePage .editProfileContainer > div{
  width: 49.5%;
  background: white;
  padding: 30px;
  font-size: 14px;
  margin-bottom: 10px;
  color: #594a42;
  overflow-y: scroll;
}
.EditProfilePage .editProfileContainer hr{
  width: 10%;
  border: 2px solid #ffd21f;
  margin-left: 0;
  margin-top: 10px;
}
.EditProfilePage .dataLine{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.EditProfilePage .dataLine input{
  background: none;
  border: none;
  border-bottom: 2px solid #594a42;
  font-size: 14px;
  margin-top: 5px;
}
.EditProfilePage .dataLine input:focus{
  border-bottom: 2px solid #ffd21f;
  outline: none;
}
.EditProfilePage .dataLine select{
  background: none;
  border: 2px solid #594a42;
  font-size: 14px;
  margin-top: 5px;
}
.EditProfilePage .dataLine select:focus{
  border: 2px solid #ffd21f;
  outline: none;
}
.EditProfilePage .dataLine textarea{
  background: none;
  border: 2px solid #594a42;
  font-size: 14px;
  margin-top: 5px;
}
.EditProfilePage .dataLine textarea:focus{
  border: 2px solid #ffd21f;
  outline: none;
}
.EditProfilePage .btnEdit{
  text-align: center;
  margin-top: 20px;
}
.EditProfilePage button{
  background: #594a42;
  color: white;
  border: none;
  width: 50%;
  padding: 10px 0px;
  outline: none;
  cursor: pointer;
  margin: auto;
}
.EditProfilePage button:hover{
  background: #ffd21f;
  color: #594a42;
}

@media only screen and (max-width: 768px) {
  .EditProfilePage .editProfileContainer{
    flex-direction: column;
  }
  
  .EditProfilePage .editProfileContainer > div {
    width: 100%;
    overflow-y: visible;
  }
}
.EditProfilePage .requestLink {
  text-align: right;
  cursor: pointer;
}