.ForgetPassword{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ForgetPassword button{
  background: #594a42;
  width: 50%;
  color:white;
  border: none;
  padding: 10px 0px;
  text-align: center;
  display: block;
  margin: 20px auto;
}
