.Homepage{
  display: flex;
  flex-direction: column;
}
.Homepage .contentContainer{
  display: flex;
}
.Homepage .postsContainer{
  width: 100%;
  margin: 10px 10px 0px 10px;
  height: calc(100vh - 71px);
  flex: 5;
  overflow-y: scroll;
}

.Homepage .postsContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  margin-left: 10px;
}

.Homepage .postsContainer::-webkit-scrollbar
{
	width: 6px;
  background-color: #F5F5F5;
 z-index: 10;
}

.Homepage .postsContainer::-webkit-scrollbar-thumb
{
	background-color: #ffd21f;
}
