.ProfilePage{
  display: flex;
  flex-direction: column;
}
.ProfilePage .contentContainer{
  display: flex;
}
.ProfilePage .profileContainer{
  width: 100%;
  margin: 10px 10px 0px 10px;
  height: calc(100vh - 71px);
  flex: 7;
  overflow-y: scroll;
}
.ProfilePage .profileContainer::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
