.registration{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  }
  .registration .registrationForm{
    z-index: 3;
  }
  .registration .registrationForm .logo{
    text-align: center;
    margin: 30px 0px;
  }
  .registration .registrationForm .InputField{
    margin-top: 30px;
  }
  .registration .registrationForm p{
    text-align: right;
    margin: 0px;
  }
  .registration .registrationForm p a{
    font-size: 12px;
    text-decoration: none;
  }
  .registration .registrationForm .registrationbtn {
    margin-top: 30px;
  }
  .registration .registrationForm .registrationbtn button{
    width: 100%;
    margin-top: 10px;
  }
  .registration .registrationForm .registrationbtn  i{
    float: left ;
  }
  .registration .bees-bg img{
    position: absolute;
  }
  .registration .bees-bg .cloud1{
    position: absolute;
    top: 30px;
    -webkit-animation-name: cloud1;
      -webkit-animation-duration: 120s;
      animation-name: cloud1;
      animation-duration: 120s;
      animation-iteration-count: infinite;
  }
  .registration .bees-bg .cloud2{
    position: absolute;
    top: 300px;
      -webkit-animation-name: cloud2;
    -webkit-animation-duration: 220s;
    animation-name: cloud2;
    animation-duration: 220s;
    animation-iteration-count: infinite;
  }
  .registration .bees-bg .cloud3{
    position: absolute;
    top: 400px;
      -webkit-animation-name: cloud3;
    -webkit-animation-duration: 300s;
    animation-name: cloud3;
    animation-duration: 300s;
    animation-iteration-count: infinite;
  }
  .registration .bees-bg .cloud4{
    position: absolute;
    top: 50px;
      -webkit-animation-name: cloud4;
    -webkit-animation-duration: 250s;
    animation-name: cloud4;
    animation-duration: 250s;
    animation-iteration-count: infinite;
  }
  .registration .bees-bg .cloud5{
    position: absolute;
    top: 250px;
      -webkit-animation-name: cloud5;
    -webkit-animation-duration: 150s;
    animation-name: cloud5;
    animation-duration: 150s;
    animation-iteration-count: infinite;
  }
  .registration .bees-bg .cloud6{
    position: absolute;
    top: 500px;
    right: 0;
      -webkit-animation-name: cloud6;
    -webkit-animation-duration: 110s;
    animation-name: cloud6;
    animation-duration: 110s;
    animation-iteration-count: infinite;
  }
  @keyframes cloud1 {
      0%   {left: 10px;}
      50%  {left: 100%;}
      100% {left: 10px;}
  }
  @keyframes cloud2 {
      0%   {left: 30px;}
      50%  {left: 100%;}
      100% {left: 30px;}
  }
  @keyframes cloud3 {
      0%   {left: 20px;}
      50%  {left: 100%;}
      100% {left: 20px;}
  }
  @keyframes cloud4 {
      0%   {right: 10px;}
      50%  {right: 100%;}
      100% {right: 10px;}
  }
  @keyframes cloud5 {
      0%   {right: 30px;}
      50%  {right: 100%;}
      100% {right: 30px;}
  }
  @keyframes cloud6 {
      0%   {right: 20px;}
      50%  {right: 100%;}
      100% {right: 20px;}
  }
