.ResearchPage{
  display: flex;
  flex-direction: column;
}
.ResearchPage .contentContainer{
  display: flex;
}
.ResearchPage .postsContainer{
  width: 100%;
  margin: 10px 10px 0px 10px;
  height: calc(100vh - 71px);
  flex: 5;
  overflow-y: scroll;
}
.ResearchPage .postsContainer::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.ResearchPage .selectTeamMsg{
  text-align: center;
  background: white;
  padding: 20px;
  color: #594a42;
}
.ResearchPage .researchContentResponsive{
  width: 100%;
}
