<li><%= link_to "Enter #{chat_room.title}", chat_room_path(chat_room)%> 
	<%if (current_user.has_unseen_messages_in?(chat_room) ) %>
	<span id = <%="chat-room-#{chat_room.id}-new-or-not"%> class = "badge badge-success"> NEW MESSAGES !</span>
	<%else %>
	<span id = <%="chat-room-#{chat_room.id}-new-or-not"%>>  </span>
<%end%></li>

