<h1>  Sorry, You either have very few friends, or have not chosen enough friends to add to the new chat room. </h1>
<h1>  Minimum number of participants is <%="#{min_allowed_chat_participants}"%> </h1>
<h1> <%= link_to "Your Chat Rooms", chat_rooms_path %> </h1>