<h1>Chat rooms</h1>

<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn yellow-crusta' , id: 'new_chat_room_button'%></p>
<div id="notices"></div>
<ul class="chatListContainer">
  <%= render @chat_rooms %>
</ul>

<%= javascript_tag do %>
    user_num_friends = <%= current_user.friends.size%>;
    min_allowed_friends = <%= @min_allowed_chat_participants -1 %>;
<% end %>
