<h1>Create chat room</h1>

<%= form_for @chat_room do |f| %>
  <div class="form-group" >
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>
	<% @friends.each do |f|%>
	<%= check_box("friends_to_add", "ids", {:multiple => true}, f.id, nil) %>
	<%= label_tag(f.fullname, f.fullname) %></br>
	<%end%>
	</br>

<h1> Choose at least <%= "#{@min_allowed_chat_participants - 1}"%> Friends to proceed </h1>
  <%= f.submit "Create Chat Room!", class: 'btn btn-primary' %>
<% end %>

<%= javascript_tag do %>
  min_allowed_friends = <%= @min_allowed_chat_participants -1 %>;
<% end %>