<div id= <%="chat-room-number-#{@chat_room.id}-messages-area"%>> </div>
<div class = "titlesChat">
  <h1><%= @chat_room.title %></h1>
  <h3><%= link_to("Add Friends As Participants", {controller:"chat_rooms", action: "show_friends", id: @chat_room.id , method: :get}) %> </h3>
</div>
<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages.last(10) %>
</div>
<div class = "messagesArea">
<%= form_for(@message, url:'#', remote: true) do |f| %>
    <%= f.text_area :body, class: 'form-control', placeholder: 'Type your message here...'%>
  <%= f.submit "Send", class: 'btn yellow-crusta' %>
<% end %>
</div>
