
<%= form_tag( controller: "chat_rooms", action:"add_participants", chat_room_id: @chat_room.id, method: "post") do %>
<% if(not @friends.empty?) %>
<h2><%= "Add Friends To Room '#{@chat_room.title}'"%></h2></br>
<h2><%= "Those are your friends who are not participants in this chat room"%></h2></br>
<% @friends.each do |f|%>
<%= check_box("friends_to_add", "ids", {:multiple => true}, f.id, nil) %>
<%= label_tag(f.fullname, f.fullname) %></br>
<%end%>
</br>
<%= submit_tag("Add to chat") %>
<% else %>
<h2><%= "All Your Friends Are Already Members In This Chat Room !" %></h2>
<% end %>
<% end %>
