.containerFlex
  .content
    .logoName
      = image_tag image_path('SB-Logo.png')
    / Form Module
    .module.form-module
      .form
      .form
        %h2 Resend confirmation instructions
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
          .actions
            = f.button "Resend confirmation instructions"
        = render "devise/shared/links"
