.row
  .col-md-6
    .portlet.box.yellow-crusta
      .portlet-title
        .caption
          %i.fa.fa-gift
          Change Personal Info
      .portlet-body.form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form' }) do |f|
          .form-body
            .form-group
              = f.label :first_name, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Only alphabetical, Min length is 2 charachtera, Max length is 20"}
                = f.text_field :first_name, class: 'form-control'

            .form-group
              = f.label :last_name, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Only alphabetical, Min length is 2 charachtera, Max length is 20"}
                = f.text_field :last_name, class: 'form-control'

            .form-group{class: ('has-error' if resource.country.blank? || devise_error_messages!.key?(:username))}
              = f.label :username, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Alpha-Numeric with underscores, Min length is 3 charachters, Max length is 30"}
                = f.text_field :username, class: 'form-control'

            .form-group{class: ('has-error' if resource.country.blank? || devise_error_messages!.key?(:country))}
              = f.label :country, class: 'control-label'
              .input-icon.right
                = f.country_select :country, { include_blank: true }, { class: 'form-control' }
                - if devise_error_messages!.key(:country)
                  %span.help-block
                    = devise_error_messages![:country]

            .form-group{class: ('has-error' if resource.specialty.blank? || devise_error_messages!.key?(:specialty))}
              = f.label :specialty, class: 'control-label'
              .input-icon.right
                - required_indices = [6,7,8,3,2,5,4,1]
                -if (fields.size > required_indices.size)
                  - additional_indices =[]
                  -(1..fields.size).each do |count|
                    -if(!count.in? required_indices)
                      -additional_indices.push count
                  -required_indices = required_indices.concat additional_indices
                -rearranged_fields = required_indices.collect {|i| fields[i-1]}
                = f.select :specialty_id, grouped_options_for_select(rearranged_fields , resource.specialty_id), { include_blank: true } , { class: 'form-control' }
                = link_to "Can't find my specialty!", "#", data: {toggle: "modal", target: "#specialtyRequest"}

            %hr/

            .form-group{class: ('has-error' if devise_error_messages!.key?(:description))}
              = f.label :description, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Describe Your Job Or Your Field Of Study"}
                = f.text_area  :description, class: 'form-control', autocomplete: 'off'

            .form-group{class: ('has-error' if devise_error_messages!.key?(:title))}
              = f.label :title, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Mention Your Short Title. e.g.(Phd student at Stanford)"}
                = f.text_field  :title, class: 'form-control', autocomplete: 'off'

            .form-group{class: ('has-error' if devise_error_messages!.key?(:current_password))}
              = f.label :current_password, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Your current password to confirm changes"}
                = f.password_field :current_password, class: 'form-control', autocomplete: 'off'
                - if devise_error_messages!.key?(:current_password)
                  %span.help-block
                    = devise_error_messages![:current_password]


          .form-actions.right
            = f.submit 'Update Details', class: 'btn yellow-crusta'

  .col-md-6
    .portlet.box.red-mint
      .portlet-title
        .caption
          %i.fa.fa-gift
          Change Password
      .portlet-body.form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form' }) do |f|
          .form-body
            .form-group
              = f.label :password, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "New Password, Min length is 8 characters"}
                = f.password_field :password, class: 'form-control', autocomplete: 'off'
            .form-group
              = f.label :password_confirmation, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Repeat New Password"}
                = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off'
            .form-group
              = f.label :current_password, class: 'control-label'
              .input-icon.right
                %i.fa.fa-info-circle.tooltips{"data-container" => "body", "data-original-title" => "Your current password to confirm changes"}
                = f.password_field :current_password, class: 'form-control', autocomplete: 'off'
          .form-actions.right
            = f.submit 'Update Password', class: 'btn yellow-crusta'

#specialtyRequest.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Request a specialty
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        = form_tag(request_specialty_user_path(resource), method: :post, remote: true) do
          .form-group
            %label.form-control-label{:for => "recipient-name"} Field name:
            %input#field.form-control{name: "field", type: "text", placeholder: "Ex.: Engineering", required: true}/
          .form-group
            %label.form-control-label{:for => "message-text"} Specialty name:
            %input#specialty.form-control{name: "specialty", type: "text", placeholder: "Ex.: Mechanical", required: true}/
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
            %input.btn.btn-primary{type: "submit"}

