.containerFlex
  .content
    .logoName
      = image_tag image_path('SB-Logo.png')
    / Form Module
    .module.form-module
      .form
      .form
        %h2 Create an account
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.text_field :first_name, placeholder: 'First name', autofocus: true
          %small
            = devise_error_messages![:first_name]
          = f.text_field :last_name, placeholder: 'Last name'
          %small
            = devise_error_messages![:last_name]
          = f.email_field :email, placeholder: 'Email'
          %small
            = devise_error_messages![:email]
          = f.password_field :password, autocomplete: 'off', placeholder: 'Password'
          %small
            = devise_error_messages![:password]
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password Confirmation'
          %small
            = devise_error_messages![:password_confirmation]
          = f.button 'Sign up'
