@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?67712632');
  src: url('./font/fontello.eot?67712632#iefix') format('embedded-opentype'),
       url('./font/fontello.woff2?67712632') format('woff2'),
       url('./font/fontello.woff?67712632') format('woff'),
       url('./font/fontello.ttf?67712632') format('truetype'),
       url('./font/fontello.svg?67712632#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67712632#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-discussion:before { content: '\e801'; } /* '' */
.icon-error:before { content: '\e802'; } /* '' */
.icon-global:before { content: '\e803'; } /* '' */
.icon-local:before { content: '\e804'; } /* '' */
.icon-mybeehive:before { content: '\e805'; } /* '' */
.icon-notification-new:before { content: '\e806'; } /* '' */
.icon-notification:before { content: '\e807'; } /* '' */
.icon-research:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-speciality:before { content: '\e80a'; } /* '' */
.icon-success:before { content: '\e80b'; } /* '' */
.icon-warning:before { content: '\e80c'; } /* '' */
.icon-thumbs-up:before { content: '\e80d'; } /* '' */
.icon-thumbs-down:before { content: '\e80e'; } /* '' */
.icon-competition:before { content: '\e80f'; } /* '' */
.icon-event:before { content: '\e810'; } /* '' */
.icon-question:before { content: '\e811'; } /* '' */
.icon-resize:before { content: '\e812'; } /* '' */
.icon-spread:before { content: '\e813'; } /* '' */
.icon-comment-alt2:before { content: '\e814'; } /* '' */
.icon-down-open:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-box:before { content: '\e817'; } /* '' */
.icon-followers:before { content: '\e818'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-right-dir:before { content: '\e81a'; } /* '' */
.icon-user-delete:before { content: '\e81b'; } /* '' */
.icon-bees:before { content: '\e81c'; } /* '' */
.icon-discussion-new:before { content: '\e81d'; } /* '' */
.icon-user-add:before { content: '\e81e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */