.mt-comment
  .mt-comment-body
    .mt-comment-info
      .mt-comment-author.font-yellow-casablanca
        = "#{comment.user.fullname} (#{comment.user.username})"
      .mt-comment-date
        = comment.created_at
    .mt-comment-text
      = comment.content.html_safe

    %br

    = link_to toggle_upvote_comment_path(comment), remote: true, class: 'vote-btn btn btn btn-icon-only yellow-crusta' do
      %i{ class: comment_thumbs_up_icon_class(comment), id: "comment-#{comment.id}-thumbs-up-icon" }

    = link_to toggle_downvote_comment_path(comment), remote: true, class: 'vote-btn btn btn-icon-only yellow-crusta' do
      %i{ class: comment_thumbs_down_icon_class(comment), id: "comment-#{comment.id}-thumbs-down-icon"}

    %span.text-muted.bold{ id: "comment-#{comment.id}-vote-sum"}
      #{ comment.votes_for.up.size - comment.votes_for.down.size }
