var new_comment = '#{j render 'comments/comment', comment: @comment}';
$(new_comment).hide().appendTo('#post-#{@comment.post.id}-comments').fadeIn();
$("#comment-content-post-#{@comment.post.id}").val("")
