var comments = ''
- @comments.each do |c|
  comments += '#{j render 'comments/comment', comment: c}';

var post_comments_div = $('#post-#{@post.id}-comments');
$(comments).hide().prependTo(post_comments_div).fadeIn();

var pagination_link = $(post_comments_div).find('a');

- if @comments.count < 10
  pagination_link.remove()
- else
  pagination_link.attr("href", "#{j paginate_post_comments_path(@post, page: params[:page].to_i + 1)}");
  pagination_link.prependTo(post_comments_div);

