$('#comment-#{@comment.id}-vote-sum').text(#{@comment.votes_for.up.size - @comment.votes_for.down.size});
$('#comment-#{@comment.id}-thumbs-up-icon').removeClass().addClass('#{comment_thumbs_up_icon_class(@comment)}');
$('#comment-#{@comment.id}-thumbs-down-icon').removeClass().addClass('#{comment_thumbs_down_icon_class(@comment)}');
  