.AddMembersPopup {
    background: white;
    padding: 20px;
    box-shadow: 0 7px 21px 0 rgba(0,0,0,.1);
    min-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.AddMembersPopup input, .AddMembersPopup textarea, .AddMembersPopup select{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
}
.AddMembersPopup input, .AddMembersPopup textarea{
    background: none;
    border: none;
    border-bottom:2px solid #594a42;
}
.AddMembersPopup input:focus, .AddMembersPopup textarea:focus{
    border-bottom:2px solid #ffd21f;
    outline:none;
}
.AddMembersPopup label{
    color: #594a42;
    font-weight: bold;
}
.AddMembersPopup .bodyPop{
    text-align: left;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.AddMembersPopup button{
    border: none;
    width: 50%;
    padding: 10px 0px;
    background: #594a42;
    outline: none;
    color: white;
    cursor: pointer;
}

.AddMembersPopup hr {
    width: 10%;
    border: 2px solid #ffd21f;
}

.AddMembersPopup .titlePop .titleWx{
    position: relative;
}
.AddMembersPopup .titlePop .titleWx i{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.AddMembersPopup .btnPop button{
    text-align: center;
    background: #594a42 !important ;
    color: white!important;
}
.AddMembersPopup .titlePop i:hover{
    color: #ffd21f !important;
}
.AddMembersPopup .btnPop button:hover{
    background: #ffd21f !important;
    color: #594a42 !important;
}
.AddMembersPopup .memberCards{
    max-height: 400px;
    overflow-y: scroll;
}
.AddMembersPopup .memberCards .card{
    margin: 10px 0px;
    background: #f9f9f9;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.AddMembersPopup .memberCards .PostOwner img{
    width: 35px;
}

