.Comments ul{
  padding: 0px;
}
.Comments li{
  margin: 10px 0px;
  background: #f9f9f9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.Comments .commentVotes{
  text-align: right;
  display: flex;
  align-items: center;
}
.Comments .commentVotes .vote{
  display: flex;
  align-items: center;
  color:#594a42;
}
.Comments .commentVotes .vote {
  cursor: pointer;
}
.Comments .commentVotes .vote:hover i, .Comments .commentVotes .vote:hover p,
.Comments .commentVotes .vote.active i, .Comments .commentVotes .vote.active p{
  color: #ffd21f;
}

.Comments .editsContainer {
  margin-left: 20px;
  position: relative;
  display: none;
}
.Comments .editsContainer.active {
  display: block;
}
.Comments .editsContainer i{
  color:#594a42;
  cursor: pointer;
}
.Comments .editsContainer i:hover{
  color: #ffd21f;
}
.Comments .editsContainer .edits{
  background: #fff;
  display: none;
  position: absolute;
  font-size: 10px;
  top:10px;
  right: 10px;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}
.Comments .editsContainer .edits.active{
  display: block;
}
.Comments .editsContainer .edits li{
  border-radius: 0px;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
}
.Comments .editsContainer .edits li:hover{
  background: #ffd21f;
}
.Comments .commentVotes i{
  margin-right: 5px;
  font-size: 11px;
}
.Comments .commentVotes p{
  font-size: 11px;
  margin-right: 10px;
  padding: 0px;
}
.Comments .commentContainer{
  width: 100%;
}
.Comments .commentContainer .comment{
  position: relative;
}
.Comments .commentContainer .comment.activeEdit span{
  display: none
}
.Comments .commentContainer .comment textarea{
  display: none;
  width: 100%;
  height: 25px;
  border: none;
  background: none;
  font-size: 13px;
  color:#594a42;
  border-bottom:2px solid #594a42;
}
.Comments .commentContainer .comment.activeEdit textarea{
  display: block;
}
.Comments .commentContainer .comment textarea:focus{
  border-bottom:2px solid #ffd21f;
  outline:none;
}
.Comments a, .Comments span{
  font-size: 13px;
  color:#594a42;
}
.Comments a{
  font-weight: bold;
}
.Comments .inputComment{
  display: flex;
  align-items: flex-end;
}
.Comments .inputComment textarea{
  font-size: 12px;
  width: 100%;
  height: 25px;
  border:none;
  border-bottom:2px solid #594a42;
}
.Comments .inputComment textarea:focus{
  border-bottom:2px solid #ffd21f;
  outline:none;
}
.Comments .inputComment i{
  font-size: 17px;
  margin-right: 10px;
  color:#594a42;
}
