.Confirmation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  color:#594a42;
}
.Confirmation .messageContainer{
  background: white;
  padding: 30px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
