.Conversation {
    /* height: 90%; */
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

.Conversation::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    margin-left: 10px;
}

.Conversation::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    z-index: 10;
}

.Conversation::-webkit-scrollbar-thumb
{
    background-color: #ffd21f;
}

.Message {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin: 8px;
    padding: 8px;
}

.MessageText {
    display: inline-block;
    background-color: #e6e6e6;
    padding: 8px;
    border-radius: 20px;
    max-width: 70%;
    white-space: pre-wrap;
    text-align: left;
    word-wrap: break-word;
}

.Message.self {
    flex-direction: row-reverse;
}
.Message.self .MessageText {
    background-color: #fad00c;
}

.Message .avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 8px;
}

.DiscussionPage .discussionContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.DiscussionPage .discussionContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    margin-left: 10px;
}

.DiscussionPage .discussionContainer::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    z-index: 10;
}

.DiscussionPage .discussionContainer::-webkit-scrollbar-thumb
{
    background-color: #ffd21f;
}

.DiscussionInput {
    height: 10%;
    width: 100%;
    border-top: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
    flex-shrink: 0;
}

.DiscussionInput textarea {
    height: 100%;
    resize: none;
    background-color: #f9f9f9;
    border: none;
    padding: 16px;
    vertical-align: middle;
    margin-right: 8px;
    outline: none;
    flex-grow: 1;
}

.DiscussionInput .send {
    color: #ffd21f;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
}
.DiscussionInput .send:disabled {
    color: #8080809c;
    cursor: initial;
}