.DiscussionsList {
    flex: 1.5;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgray;
    background-color: white;
    overflow-y: auto;
}

.DiscussionsListItem {
    padding: 16px;
    cursor: pointer;
}
.DiscussionsListItem.active, .DiscussionsListItem:hover{
    background-color: rgba(0, 0, 0, .05);
}
.DiscussionsListItem label, .DiscussionsListItem time {
    pointer-events: none;
}
.DiscussionsListItem .heading {
    display: flex;
    justify-content: space-between;
}
.DiscussionsListItem .title {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.DiscussionsListItem .timestamp {
    font-size: 13px;
    color: gray;
}
.DiscussionsListItem .last-message {
    font-size: 13px;
    color: gray;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.DiscussionsList .searchBar {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.DiscussionsList .searchInput {
    display: flex;
    background-color: #e7e7e7;
    padding: 4px;
    border-radius: 4px;
    width: 85%;
    overflow-x: hidden;
}

.DiscussionsList .searchInput input[type=text] {
    flex-grow: 1;
    background-color: inherit;
    border: none;
    outline: none;
}

.DiscussionsList .searchBar button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
.DiscussionsList .searchBar button:hover {
    color: #fad00c !important;
}

.DiscussionsList::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    margin-left: 10px;
}

.DiscussionsList::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    z-index: 10;
}

.DiscussionsList::-webkit-scrollbar-thumb
{
    background-color: #ffd21f;
}