.DiscussionMembers {
    flex: 2;
    border-left: 1px solid lightgray;
    background: white;
    padding-top: 16px;
    overflow-y: auto;
}

.DiscussionMembers .backBtn {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 16px;
    cursor: pointer;
}

.DiscussionMembers .heading {
    color: rgba(0, 0, 0, .40);
    font-size: 14px;
    margin: 16px;
}

.DiscussionMembers .member-add {
    padding: 16px 16px 16px 26px;
    cursor: pointer;
}
.DiscussionMembers .member-add i {
    margin-right: 16px;
}
.DiscussionMembers .member-add * {
    pointer-events: none;
}

.DiscussionMembers .DiscussionMemberItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.DiscussionMembers .DiscussionMemberItem:hover {
    background-color: rgba(0, 0, 0, .05);
}

.DiscussionMembers .PostOwner img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.DiscussionMembers .DiscussionMemberItem .info {
    font-size: 14px;
}

.DiscussionMembers::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    margin-left: 10px;
}

.DiscussionMembers::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    z-index: 10;
}

.DiscussionMembers::-webkit-scrollbar-thumb
{
    background-color: #ffd21f;
}