.ImgPost{
  background: white;
  padding:40px;
  margin-bottom: 10px;
}
.ImgPost .postImg {
  margin-top: 20px;
}
.ImgPost .postImg img{
  width: 100%
}
.ImgPost p{
  font-size: 13px;
  line-height: 1.38;
  padding: 20px 0px;
}
@media (max-width:768px) {
  .ImgPost{
    padding: 20px;
  }
}
