/* form starting stylings */
.InputField .group{
  position:relative;
}
/* LABEL */
.InputField label{
  color:#594a42;
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.InputField input:focus ~ label,.InputField input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#ffd21f;
}

/* BOTTOM BARS */
.InputField .bar{
  position:relative;
  display:block;
  width:315px;
}
.InputField .bar:before, .InputField .bar:after{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#ffd21f;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.InputField .bar:before{
  left:50%;
}
.InputField .bar:after{
  right:50%;
}

/* active state */
.InputField input:focus ~ .bar:before, .InputField input:focus ~ .bar:after{
  width:50%;
}

/* HIGHLIGHTER */
.InputField .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.InputField input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
	from { background:#ffd21f; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#ffd21f; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#ffd21f; }
  to 	{ width:0; background:transparent; }
}
