.MyResearch{
  height: 0;
  opacity: 0;
  transition: all .1s ease-in-out;
  display: none;
}
.MyResearch.active{
  display: block;
  background: white;
  height: 49%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.MyResearch ul {
  padding: 16px;
  text-align: left;
}
.MyTeam-Item {
  line-height: 1.7;
}
.MyTeam-Item i {
  margin-right: 16px;
}