.Navbar{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  z-index: 10;
}
.Navbar .navIcons{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 3;
  justify-content: space-between;
}
.Navbar .navIcons .icon{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  color:#594a42;
  margin: 0px 10px;
  cursor: pointer;
}
.Navbar .navIcons .notificationNumber{
  background: #ffd21f;
  margin: 0 !important;
  padding: 2px;
  border-radius: 10px;
  color: #594a42;
}
.Navbar .navIcons .icon span::after{
  border: 3px solid red;
  height: 5px;
}
.Navbar .navIcons .icon:hover{
  color:#ffd21f;
  border-bottom: 5px solid #ffd21f;
}
.Navbar .navIcons .icon span{
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}
.Navbar .navIcons .icon.profile:hover{
  border-bottom: 0px solid #ffd21f;
}
.Navbar .navIcons .profile img{
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.Navbar .logo-nav{
  flex: 1;
}
.Navbar .logo-nav img{
  width: 80px;
}
.Navbar .searchbar{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 6;
  margin: 0px 20px;
}
.Navbar .searchbar input{
  width: 100%;
  max-width: 350px;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #594a42;
  height: 30px;
  outline: none;
  padding-left: 10px;
}
.Navbar .searchbar i{
  background: #594a42;
  padding:10px;
  color:white;
  font-size: 8px;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}
.Navbar .arrowDropdown{
  transition: all .3s ease-out;
}
.Navbar .arrowDropdown.active{
  transform: rotate(-180deg);
  color:#ffd21f;
}
.Navbar .dropdownMenu{
  height: 0px;
  position: absolute;
  right: 60px;
  top: 61px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease-out;
}
.Navbar .dropdownMenu.active{
  height: 71px;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}
.Navbar .dropdownMenu ul{
  padding: 0px;
  font-size: 13px;
  font-weight: bold;
  color:#594a42;
}
.Navbar .dropdownMenu li{
  padding: 10px 15px;
}
.Navbar .dropdownMenu li:hover{
  background: #ffd21f;
  color:white;
}
.responsiveNav{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px 0 30px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  z-index: 10;
  justify-content: space-between;
}
.responsiveNav img{
  width: 20px;
}
.responsiveNav .profile {
  border-radius: 50%;
}
.responsiveNav i{
  padding: 10px;
  background: white;
  cursor: pointer;
}
.responsiveNav i.active{
  background: #ffd21f;
  color: white;
}
@media (max-width: 768px) {
  .Navbar .navIcons .icon span, .Navbar .navIcons .icon i{
    font-size: 10px;
  }
  .Navbar .logo-nav img{
    width: 100px;
  }
  .Navbar .searchbar input{
    height: 20px;
    font-size: 8px;
  }
  .Navbar .searchbar i{
    padding:7px;
    font-size: 6px;
  }
}
