.NewsCard{
  height: 200px;
  background: white;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
}
.NewsCard hr{
  width: 10%;
  border: 2px solid #ffd21f;
}
.NewsCard p{
  font-size: 12px;
}
.NewsCard .seeMoreContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}
.NewsCard .seeMoreContainer:hover h6{
  text-decoration: underline;
}
.NewsCard .seeMoreContainer i{
  margin-left: 5px;
}
