.Notifications{
  height: 0px;
  position: absolute;
  right: 155px;
  top: 61px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: 10;
  width:270px;
}
.Notifications.active {
  height: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}
.Notifications ul{
  padding: 0;
  font-size: 10px;
}
.Notifications hr{
  opacity: .1;
  margin: 0;
}
.Notifications ul li{
  padding: 20px;
  color:#594a42;
  font-weight: bold;
}
.Notifications ul .not-seen{
  background-color: rgba(0, 0, 0, 0.05);
}
.Notifications ul li span{
  margin-top: 10px;
  display: block;
  text-align: right;
}
.Notifications ul li span time{
  background: #ffd21f;
  padding: 2px 10px;
}
@media only screen and (max-width: 768px) {
  .Notifications{
    width:100%;
    right: 0;
    top: 47px;
  }
  .Notifications.active {
    height: 50vh;
  }
}