.PostIcons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PostIcons .buttons i{
  margin-right: 10px;
  font-size: 15px;
}
.PostIcons .buttons {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color:#594a42;
  padding: 5px 0px;
}
.PostIcons .buttons .iconWText{
  display: flex;
  align-items: center;
  color:#594a42;
}
.PostIcons .buttons p{
  padding: 0px !important;
  font-weight: bold;
  margin-right: 20px;
}
.PostIcons .buttons .iconWText:hover i ,.PostIcons .buttons .iconWText:hover p,
.PostIcons .buttons .iconWText.active i ,.PostIcons .buttons .iconWText.active p{
  color:#ffd21f;
}
.PostIcons .optionAndTime{
  display: flex;
  align-items: center;
  color: #594a42;
}
.PostIcons .optionAndTime i{
  margin-left: 10px;
}
.PostIcons .editsContainer {
  position: relative;
  display: none;
}
.PostIcons .editsContainer ul{
  padding: 0px;
}
.PostIcons .editsContainer.active {
  display: block;
}
.PostIcons .editsContainer i{
  color:#594a42;
  cursor: pointer;
}
.PostIcons .editsContainer i:hover{
  color: #ffd21f;
}
.PostIcons .editsContainer .edits{
  background: #fff;
  display: none;
  position: absolute;
  font-size: 10px;
  top:10px;
  right: 10px;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}
.PostIcons .editsContainer .edits.active{
  display: block;
}
.PostIcons .editsContainer .edits li{
  border-radius: 0px;
  background: none;
  padding: 5px 10px;
  margin: 10px 0px;
  cursor: pointer;
}
.PostIcons .editsContainer .edits li:hover{
  background: #ffd21f;
}
