.PostingTools{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  padding: 20px 0px;
}
.PostingTools .postingButtonsContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.PostingTools .postingButtonsContainer i{
  background: none;
  color: #594a42;
  cursor: pointer;
  letter-spacing: .5px;
  outline: none;
  flex: 1;
  width: 100%;
  text-align: center;
}
.PostingTools .postingButtonsContainer i:hover, .PostingTools .postingButtonsContainer i.active{
  color: #ffd21f;
}
.PostingTools .shareKnowlegdeInput, .PostingTools .askQuestionInput{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0px;
  display: flex;
  overflow: hidden;
  opacity: 0;
  transition: all .2s ease-out;
}
.PostingTools .shareKnowlegdeInput h5, .PostingTools .askQuestionInput h5{
  text-align: center;
  margin: 20px 0;
}
.PostingTools .shareKnowlegdeInput.active, .PostingTools .askQuestionInput.active{
  opacity: 1;
  height: 335px;
  padding: 20px;
}
.PostingTools .shareKnowlegdeInput .addPhoto{
  margin: 10px 0px;
  font-size: 20px;
  color:#594a42;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.PostingTools .shareKnowlegdeInput .addPhoto span{
  font-weight: bold;
  margin-left: 10px;
  font-size: 12px;
}
.PostingTools .shareKnowlegdeInput .addPhoto:hover{
  color:#ffd21f;
}
.PostingTools textarea{
  margin: 5px 0px;
}
.PostingTools select{
  background: none;
  border: 2px solid #594a42;
  font-size: 14px;
  margin-bottom: 5px;
  color:#594a42;  
  padding: 3px;
  border-radius: 10px;
  outline: none;
  width: 100%;
}
.PostingTools .shareKnowlegdeInput textarea,.PostingTools .shareKnowlegdeInput input{
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #594a42;
  outline: none;
  resize: none;
  color:#594a42;
}
.PostingTools .shareKnowlegdeInput textarea:focus,.PostingTools .shareKnowlegdeInput input:focus{
  border: 2px solid #ffd21f;
}
.PostingTools .shareKnowlegdeInput .spread{
  text-align: right;
}
.PostingTools .shareKnowlegdeInput button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #ffd21f;
  border: none;
  color:white;
  font-weight: bold;
}
.PostingTools .askQuestionInput .addPhoto{
  margin: 10px 0px;
  font-size: 20px;
  color:#594a42;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.PostingTools .askQuestionInput .addPhoto span{
  font-weight: bold;
  margin-left: 10px;
  font-size: 12px;
}
.PostingTools .askQuestionInput .addPhoto:hover{
  color:#ffd21f;
}
.PostingTools .askQuestionInput textarea,.PostingTools .askQuestionInput input{
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #594a42;
  outline: none;
  resize: none;
  color:#594a42;
}
.PostingTools .askQuestionInput textarea:focus,.PostingTools .askQuestionInput input:focus{
  border: 2px solid #ffd21f;
}
.PostingTools .askQuestionInput .spread{
  text-align: right;
}
.PostingTools .shareKnowlegdeInput textarea, .PostingTools .askQuestionInput textarea{
  min-height: 50px;
}
.PostingTools .askQuestionInput button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #ffd21f;
  border: none;
  color:white;
  font-weight: bold;
}
