.ProfileDetails{
  background: white;
  padding: 40px;
}
.ProfileDetails .limitContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.ProfileDetails img{
  width: 100px;
  border-radius: 50%;
  margin-right:20px;
}
.ProfileDetails .userDetails{
  display: flex;
  align-items: center;
}
.ProfileDetails .userDetails .rowCenter h6{
  margin-left: 10px;
}
.ProfileDetails .userDetails .rowCenter{
  margin: 10px 0px;
}
.ProfileDetails .accountDetails {
  display: flex;
}
.ProfileDetails .accountDetails{
  margin-bottom: 10px;
}
.ProfileDetails .accountDetails .votes, .ProfileDetails .accountDetails .followers{
  text-align: center;
  margin: 0px 10px;
}
.ProfileDetails .accountDetails .votes i, .ProfileDetails .accountDetails .followers i{
  font-size: 30px;
  margin-bottom: 10px;
}
.ProfileDetails .accountButtons{
  display: flex;
  flex-direction: column;
}
.ProfileDetails .accountButtons button{
  background: none;
  border: 2px #594a42 solid;
  margin: 5px 0px;
  font-size: 12px;
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
  outline: none;
}
.ProfileDetails .accountButtons button:hover, .ProfileDetails .accountButtons button.active{
  border: 2px #ffd21f solid;
  background: #ffd21f;
  color: white;
}
@media (max-width:768px) {
  .ProfileDetails .limitContainer{
    width: 100%;
    flex-direction: column;
  }
  .ProfileDetails .userDetails  img{
    width: 70px;
  }
  .ProfileDetails .userDetails .accountInfo h1{
    font-size: 1.2em;
  }
}
