.ResearchTools{
  max-height: calc(100vh - 81px);
  flex: 2;
  overflow-y: scroll;
  margin: 10px;
  text-align: center;
  color: #594a42;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ResearchTools .teamOptions{
  height: 0;
  opacity: 0;
  display: none;
  transition: all .1s ease-in-out;
}
.ResearchTools .teamOptions.active{
  background: white;
  display: block;
  height: 49%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.ResearchTools .teamOptions p{
  font-size: 13px;
  padding: 0px 20px;
}
.ResearchTools::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.ResearchTools  h4{
  margin-top: 20px;
}
.ResearchTools hr{
  width: 10%;
  border: 2px solid #ffd21f;
}
.ResearchTools ul{
  padding: 0px;
}
.ResearchTools .researchBtns button{
  border: none;
  width: 50%;
  padding: 10px 0px;
  background: #594a42;
  outline: none;
  color: white;
  cursor: pointer;
}
.ResearchTools .researchBtns button:first-child{
  background: #ffd21f;
  color:#594a42;
}
.ResearchTools .leaveBtn{
  width: 20% !important;
  background: #ffd21f !important;
  color:#594a42 !important;
}
.ResearchTools .PopResearch{
  background: white;
  padding: 20px;
  box-shadow: 0 7px 21px 0 rgba(0,0,0,.1);
  min-width: 50%;
  display: flex;
  flex-direction: column;
}
.ResearchTools .PopResearch input, .ResearchTools .PopResearch textarea, .ResearchTools .PopResearch select{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
}
.ResearchTools .PopResearch input, .ResearchTools .PopResearch textarea{
  background: none;
  border: none;
  border-bottom:2px solid #594a42;
}
.ResearchTools .PopResearch input:focus, .ResearchTools .PopResearch textarea:focus{
  border-bottom:2px solid #ffd21f;
  outline:none;
}
.ResearchTools .PopResearch label{
  color: #594a42;
  font-weight: bold;
}
.ResearchTools .PopResearch .bodyPop{
  text-align: left;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.ResearchTools .responsiveBtns{
  display: flex;
  justify-content: space-between;
}
.ResearchTools .responsiveBtns button{
  width: 49%;
  border: 1px solid #594a42;
  background: none;
  padding: 5px 0px;
  outline: none;
}
.ResearchTools .responsiveBtns button.active{
  border: 1px solid #ffd21f;
  background: #ffd21f;
  padding: 5px 0px;
}
.PopResearch .titlePop .titleWx{
  position: relative;
}
.PopResearch .titlePop .titleWx i{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.PopResearch .titlePop .titleWx i:hover{
  color: #ffd21f;
}
.PopResearch .btnPop button{
  text-align: center;
  background: #594a42 !important ;
  color: white!important;
}
.PopResearch .btnPop button:hover{
  background: #ffd21f !important;
  color: #594a42 !important;
}
.PopResearch .memberCards{
  max-height: 400px;
  overflow-y: scroll;
}
.PopResearch .memberCards .card{
  margin: 10px 0px;
  background: #f9f9f9;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.PopResearch .memberCards .PostOwner img{
  width: 35px;
}
.PopResearch.membersPop input{
  width: 50%;
  margin: 20px auto;
  opacity: .3;
}
.PopResearch.membersPop input:focus, .PopResearch.membersPop input:hover{
  opacity: 1;
}
