.SearchUsers {
    position: relative;
}
.SearchUsers input{
    width: 100%;
    margin: 20px auto;
}

.SearchUsers .searchResult {
    position: absolute;
    background: white;
    z-index: 10;
    border: 1px solid lightgray;
    padding: 16px 0px 16px 0px;
    top: 50px;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}
.SearchUsers .searchResult .heading{
    margin-left: 16px;
}
.SearchUsers .searchResult .notFound{
    font-size: 14px;
    margin: 8px 0px 8px 32px;
    color: rgba(0, 0, 0, .40);
}
.SearchUsers .searchResult .PostOwner{
    cursor: pointer;
}
.SearchUsers .searchResult .PostOwner *{
    pointer-events: none;
}
.SearchUsers .searchResult .PostOwner:hover{
    background-color: rgba(0,0,0,.05);
}
.SearchUsers .searchResult::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    margin-left: 10px;
}

.SearchUsers .searchResult::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    z-index: 10;
}

.SearchUsers .searchResult::-webkit-scrollbar-thumb
{
    background-color: #ffd21f;
}