.Sidebar{
  height: calc(100vh - 61px);
  flex: 1.5;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #594a42;
}
.Sidebar ul{
  list-style-type: none;
  padding: 0px;
}
.Sidebar li{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0px;
  cursor: pointer;
}
.Sidebar .icon-resize{
  margin-bottom: 40px;
  cursor: pointer;
}
.Sidebar li:hover, .Sidebar li.active, .SidebarResp li.active, .Sidebar .icon-resize:hover{
  color:#ffd21f ;
}
.Sidebar span{
  margin-left: 20px;
  font-size: 10px;
  font-weight: 600;
}
.Sidebar.closed{
  flex: .5;
}
.Sidebar.closed span{
  display: none;
}
.SidebarResp{
  position: fixed;
  right: -40%;
  background: white;
  height: 100vh;
  width: 40%;
  transition: right .2s ease-out;
  border-left: 1px solid rgba(0, 0, 0, .0975);
  z-index: 10;
  padding: 20px;
}
.SidebarResp.open{
  right: 0;
}
.SidebarResp ul{
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.SidebarResp hr{
  width: 100%;
}
.SidebarResp li{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  margin: 17px 0px;
  cursor: pointer;
}
.SidebarResp li a{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 740px) {
    .Sidebar{
      width: 100px
    }
    .Sidebar span{
      display: none;
    }
}
