.SpecialityRequestPopup {
    background: white;
    padding: 20px;
    box-shadow: 0 7px 21px 0 rgba(0,0,0,.1);
    min-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.SpecialityRequestPopup input, .SpecialityRequestPopup textarea, .SpecialityRequestPopup select{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
}
.SpecialityRequestPopup input, .SpecialityRequestPopup textarea{
    background: none;
    border: none;
    border-bottom:2px solid #594a42;
}
.SpecialityRequestPopup input:focus, .SpecialityRequestPopup textarea:focus{
    border-bottom:2px solid #ffd21f;
    outline:none;
}
.SpecialityRequestPopup label{
    color: #594a42;
    font-weight: bold;
}
.SpecialityRequestPopup .bodyPop{
    text-align: left;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.SpecialityRequestPopup button{
    border: none;
    width: 50%;
    padding: 10px 0px;
    background: #594a42;
    outline: none;
    color: white;
    cursor: pointer;
}

.SpecialityRequestPopup hr {
    width: 10%;
    border: 2px solid #ffd21f;
}

.SpecialityRequestPopup .titlePop .titleWx{
    position: relative;
}
.SpecialityRequestPopup .titlePop .titleWx i{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.SpecialityRequestPopup .btnPop button{
    text-align: center;
    background: #594a42 !important ;
    color: white!important;
}
.SpecialityRequestPopup .titlePop i:hover{
    color: #ffd21f !important;
}
.SpecialityRequestPopup .btnPop button:hover{
    background: #ffd21f !important;
    color: #594a42 !important;
}

