.TextPost{
  background: white;
  padding:40px;
  margin-bottom: 10px;
  position: relative;
}
.TextPost h4{
  margin-top: 10px;
}
.TextPost p{
  font-size: 13px;
  line-height: 1.38;
  padding: 10px 0px;
}
.TextPost .typeIcon{
  position: absolute;
  right: 40px;
  top: 57px;
}
.TextPost .editPost {
  display: flex;
  flex-direction: column;
}
.TextPost .editPost input, .TextPost .editPost textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #594a42;
  outline: none;
  resize: none;
  color: #594a42;
  margin: 5px;
}
.TextPost .editPost input:focus, .TextPost .editPost textarea:focus {
  border: 2px solid #ffd21f;
}

.TextPost .editPost select {
  background: none;
  border: 2px solid #594a42;
  font-size: 14px;
  margin-bottom: 5px;
  color: #594a42;
  padding: 3px;
  border-radius: 10px;
  outline: none;
}

.TextPost .editPost .spread {
  text-align: right;
}

.TextPost .editPost .spread button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #ffd21f;
  border: none;
  color: white;
  font-weight: bold;
}

@media (max-width:768px) {
  .TextPost{
    padding: 20px;
  }
  .TextPost .typeIcon{
    right: 20px;
    top: 37px;
  }
}
