.UserHoverCard {
    position: absolute;
    left: 110px;
    background: white;
    top: 70px;
    width: 300px;
    max-height: 200px;
    font-size: 13px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
}
.UserHoverCard.commentCard{
    top:20px;
    left:0;
}
.UserHoverCard hr{
    border: #ffd21f solid 2px;
    width: 60px;
    margin-left: 0;
}