body {
  color: #333333;
  background: white !important;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 100px 0 30px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 50px;
  font-weight: 320;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #FFCC00;
}
.pen-title span a {
  color: #FFCC00;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  border-top: solid 10px #FFD121;
  background: #ffffff;
  width: 500px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .toggle {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background: #FFCC00;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 400;
}
.form a{
  text-decoration: none;
  color: #122632;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 10px 0 0;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#user_remember_me{
  color: red;
  width: 25px !important;
  display: inline-block;
}
.form-module input:focus {
  border: 1px solid #FFCC00;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #FFD121;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 10px 0px;
}
.form-module button:hover {
  background: #ffd632;
}
.form-module .cta {
  cursor: pointer;
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-module .cta:hover {
  background-color: #FFD121;
  color: white;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

small {
  color: #eb6a5a;
  font-size: 10px;
}
.forgetPsCont{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 720px;

}
.ContPass{
  position: relative;
border-top: solid 10px #FFD121;
background: #ffffff;
width: 500px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
margin: 0 auto;
padding: 20px 40px
}
@media (max-width: 767px){
  .form-module{
    width: 300px !important;
  }
  .logoName img {
    height: 70px!important;
}
}
