.containerFlex
  .content
    .logoName
      =image_tag image_path('SB-Logo.png')
    / Form Module
    .module.form-module
      .form
        %h2 Create an account
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.text_field :first_name, placeholder: 'First name', autofocus: true
          = f.text_field :last_name, placeholder: 'Last name'
          = f.email_field :email, placeholder: 'Email'
          = f.password_field :password, autocomplete: 'off', placeholder: 'Password'
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password Confirmation'
          = f.button 'Sign up'
      .form
        %h2 Login to your account
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, placeholder: 'Email', autofocus: true
          = f.password_field :password, placeholder: 'Password', autocomplete: "off"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          = f.button 'Login'
          = link_to "Forgot your password?", new_password_path(resource_name)
      .cta
        %h1{:class => "SignToggle"} Register
