.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-people.font-yellow-crusta
      %span.caption-subject.font-yellow-crusta.bold.uppercase New Research Team
      %span.caption-helper all fields are required
  .portlet-body.form
    / BEGIN FORM
    = form_for @rt, html: { class: 'form-horizontal' } do |f|
      .form-body
        .form-group
          = f.label :name, class: 'col-md-3 control-label'
          .col-md-4
            = f.text_field :name, class: 'form-control', placeholder: 'Team name, make it descriptive..'
            %span.help-block Minimum length is 3
        .form-group
          = f.label :description, class: 'col-md-3 control-label'
          .col-md-4
            = f.text_area :description, class: 'form-control', placeholder: 'What do you aim to do with the team'
            %span.help-block Minimum length is 15
            %br
            %br
            = f.label :invite_friends, class: 'col-md-3 control-label'
            =render "invitees"
      .form-actions
        .row
          .col-md-offset-3.col-md-4
            = f.submit class: "btn yellow-crusta"
    / END FORM

