#invitees_portion.col-md-4
  / This part is using the bare html form of the rails-jquery-autocomplete.
  / I found this more usable than the helper version
  - invitees_counter = 0
  - (invitees_counter..invitees_counter+2).each do 
    = hidden_field_tag "invitees_ids[]",'', id: "result_id_#{invitees_counter}"
    <input type="text" id="user_#{invitees_counter}" value data-autocomplete="/users/autocomplete_user_username?scope=friends_only" data-id-element="#result_id_#{invitees_counter}" class="ui-autocomplete-input" autocomplete="off">
    -invitees_counter=invitees_counter+1
    %br
  :javascript
    var invitees_counter = #{invitees_counter}
  = submit_tag "More ?", :id => "invite_more_to_research_team_button", :class => "btn cPostBtn cBtnArea yellow-crusta", :type => 'button' 
  %br