%li.heading
  %h3.uppercase.font-yellow-gold Research Beehive 
  %h3.uppercase.font-yellow-gold  ( Invite Bees! ) 
%li.nav-item
  =link_to research_teams_path  do
    %i.fa.fa-university.font-yellow
    %span.title.font-yellow  Join Research Team ?

%li.nav-item
  = link_to new_research_team_path do
    %i.icon-plus.font-yellow
    %span.title.font-yellow New Research Beehive
%li.nav-item
  %a.nav-link.nav-toggle{href: "javascript:;"}
    %span.title.font-yellow-gold My Research Beehives
    %span.selected
    %span.arrow
  %ul.sub-menu{style: "display: block;"}
    - current_user.research_teams.where(:soft_deleted => false).each do |rt|
      %li.nav-item
        = link_to rt, class: 'nav-link' do
          %span.title.font-yellow= rt.name
