      var button = $('#rt_index_userID_<%="#{@user_id}"%>_rtID_<%="#{@research_team_id}"%>');
      button.attr('value', 'Enter Team !');
      button.parent().attr('action',"<%= @research_team_path %>");
      button.parent().attr('method',"get");
      button.parent().removeAttr("data-remote");


