.row
  -if @friends.empty?
    .mt-element-ribbon.bg-grey-steel
      .ribbon.ribbon-shadow.ribbon-color-warning{ :style => "margin-left: .5cm;" }
        = "-- No Friends To Invite !"
  -else
    - @friends.each do |f|
      .col-md-12{ id: "rt-add-friend-#{f.id}" }
        .mt-element-ribbon.bg-grey-steel
          .ribbon.ribbon-shadow.ribbon-color-warning.uppercase
            = link_to user_path(f), class: 'bold font-white' do
              = f.fullname
          .ribbon-content
            %div
              .row.margin-bottom-10
                = render 'users/user_info_list', user: f
              .row
                .col-md-3{style: 'float: right'}
                  = link_to invite_friend_research_team_path(@rt.id, friend_id: f.id), remote: true, method: :post, class: 'btn yellow-crusta' do
                    Invite Member
