      var button = $('#rt_index_userID_<%="#{@user_id}"%>_rtID_<%="#{@research_team_id}"%>');
      button.attr('value', 'Request Membership !');
      button.parent().attr('action',"<%= @request_membership_research_team_path %>");


