<h1>Visible Research Teams</h1>

<ul class="chatListContainer">
<br>

<%@non_joined_nor_requested_nor_invited_teams.each do |research_team| %>

<div style="float: left">
<br>
<li>
<span style="float: left" class = "btn blue">
	<%= "#{research_team['name']}" %> 
</span>
<span style="float: left">
	<%=  button_to "Request Membership !", request_membership_research_team_path(research_team["id"]),:id => "rt_index_userID_#{@current_user.id}_rtID_#{research_team['id']}", :method => :post, remote: true, :class => "btn yellow-crusta" %>
</span>
</li>
</div>
<% end %>



<%@joined_or_requested_or_invited_teams.each do |research_team| %>

<div style="float: left">
<br>
<li>
<span style="float: left" class = "btn blue">
	<%= "#{research_team['name']}" %> 
</span>
<span style="float: left">

	<%if(research_team['status'] == 0) #enrolled %> 
	<%=  button_to "Enter Team !", research_team_path(research_team["id"]),:id => "rt_index_userID_#{@current_user.id}_rtID_#{research_team['id']}" ,
	:method => :get, :class => "btn yellow-crusta" %>

	<%elsif(research_team['status'] == 1) #requested %>
	<%=  button_to "Cancel Request !", cancel_join_request_research_team_path(research_team["id"]), :id => "rt_index_userID_#{@current_user.id}_rtID_#{research_team['id']}"  ,:method => :post	, remote: true, :class => "btn yellow-crusta" %>

	<%elsif(research_team['status'] == 2) #invited %>
	<%=  button_to "Accept Invitation !", accept_invitation_research_team_path(research_team["id"]),:id => "rt_index_userID_#{@current_user.id}_rtID_#{research_team['id']}"  ,:method => :post, remote:true, :class => "btn yellow-crusta" %>
	<%end%>
</span>
</li>
</div>
<% end %>

  




<br>
</ul>


