    var button = $('#rt_index_userID_<%="#{@user_id}"%>_rtID_<%="#{@research_team_id}"%>');
    button.attr('value', 'Cancel Request !');
    button.parent().attr('action',"<%= @cancel_request_research_team_path %>");
    button.parent().removeAttr("data-remote");


