.research_team{:id => @rt.id}
.col-md-8
  .row
    -if ! @limited
      .col-md-12.no-padding
        = render template: 'posts/new'
      .row
        .col-md-12.no-padding#posts-container
          - @rt.posts.reverse.each do |post|
            = render 'posts/post_portlet', post: post
    -elsif @membership # THIS CODE IS NOT DRY. THIS IS SOMEWHAT REPLICATION OF THE CODE IN THE INDEX VIEW.
      -if @membership.invited?
        =button_to "Accept Invitation !", accept_invitation_research_team_path(@rt.id),:id => "rt_index_userID_#{current_user.id}_rtID_#{@rt.id}"  ,:method => :post, remote:true, :class => "btn yellow-crusta"
      -elsif @membership.requested?
        =button_to "Cancel Request !", cancel_join_request_research_team_path(@rt.id), :id => "rt_index_userID_#{current_user.id}_rtID_#{@rt.id}"  ,:method => :post , remote: true, :class => "btn yellow-crusta"
    -else # limited and no membership means you need to request to join
      =button_to "Request Membership !", request_membership_research_team_path(@rt.id),:id => "rt_index_userID_#{current_user.id}_rtID_#{@rt.id}", :method => :post, remote: true, :class => "btn yellow-crusta"


.col-md-4
  .portlet.light.bordered
    .portlet-body
      %h4 Description
      .well=@rt.description
      %h4
        Members
        %span.badge.badge-warning#rt-members-count
          = @rt.enrolled_members.count
      - if @rt.admins.include? current_user
        %a.view-mem-btn.btn.yellow-crusta{ "data-rt-id" => @rt.id, "data-toggle" => "modal", href: '#members' }
          View All Members
        %br
        %br
        = button_to "Delete Research Team", research_team_path(:id => @rt.id), :method => :delete , :class => "btn yellow-crusta delete-research-team-button" 
        %br
        %a.add-mem-btn.btn.yellow-crusta{ "data-rt-id" => @rt.id, "data-toggle" => "modal", href: '#friends' }
          Invite Members
        %br
        %br
          = form_tag( {action: "invite_friend", controller: "research_teams", format: :js} ,{id:"friends-invite-auto-complete-form", remote: true} )  do
            = hidden_field_tag :friend_id,'', id: 'single_invite_autocomplete'
            = hidden_field_tag :from_auto_complete,'true'
            = autocomplete_field_tag :friend_invite_autocomplete,'', autocomplete_user_username_users_path(scope:"friends_only"), id_element: '#single_invite_autocomplete', placeholder: "Or Invite From Here ?", class: 'field'
          %div#feedback_div


- if @rt.admins.include? current_user
  #friends.modal.modal-ajax.fade{"aria-hidden" => "true", :role => "basic", :style => "display: none;", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %h4.modal-title Invite a friend to the team
        .modal-body Loading...
        .modal-footer
          %button.btn.dark.btn-outline{"data-dismiss" => "modal", :type => "button"} Close

- if @rt.admins.include? current_user
  #members.modal.modal-ajax.fade{"aria-hidden" => "true", :role => "basic", :style => "display: none;", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %h4.modal-title All Members
        .modal-body Loading...
        .modal-footer
          %button.btn.dark.btn-outline{"data-dismiss" => "modal", :type => "button"} Close

