.row
  - @requesters.each do |r|
    .col-md-12{ id: "rt-#{@rt.id}-view-member-#{r.id}" }
      .mt-element-ribbon.bg-grey-steel
        .ribbon.ribbon-shadow.ribbon-color-warning.uppercase
          = link_to user_path(r), class: 'bold font-white' do
            = r.fullname
        .ribbon-content
          %div
            .row.margin-bottom-10
              = render 'users/user_info_list', user: r
            .row
              .col-md-3{style: 'float: right'}
                = link_to accept_member_research_team_path(@rt.id, requesting_member_id: r.id), remote: true, method: :post, class: 'btn yellow-crusta', id:"rt-#{@rt_id}-member-#{r.id}-button" do
                  Accept Request
  .col-md-12                
    = link_to research_team_path(@rt.id), method: :get, class: 'btn yellow-crusta' do
      Go To Research Team