.row
  - @memberships.each do |m|
    .col-md-12{ id: "rt-#{m.research_team_id}-view-member-#{m.user.id}" }
      .mt-element-ribbon.bg-grey-steel
        .ribbon.ribbon-shadow.ribbon-color-warning.uppercase
          = link_to user_path(m.user), class: 'bold font-white' do
            = m.user.fullname
        .ribbon-content
          %div
            .row.margin-bottom-10
              = render 'users/user_info_list', user: m.user
            .row
              .col-md-3{style: 'float: right'}
                -if m.user_id != @current_user.id
                  -if m.requested?
                    = link_to accept_member_research_team_path(@rt.id, requesting_member_id: m.user.id), remote: true, method: :post, class: 'btn yellow-crusta', id:"rt-#{m.research_team_id}-member-#{m.user.id}-button" do
                      Accept Request
                  -elsif m.invited?
                    = link_to cancel_invitation_research_team_path(@rt.id, invited_member_id: m.user.id), remote: true, method: :post, class: 'btn yellow-crusta', id:"rt-#{m.research_team_id}-member-#{m.user.id}-button" do
                      Cancel Invitation
                  -elsif m.enrolled?
                    = link_to remove_member_research_team_path(@rt.id, enrolled_member_id: m.user.id), remote: true, method: :post, class: 'btn yellow-crusta', id:"rt-#{m.research_team_id}-member-#{m.user.id}-button" do
                      Remove Member