    Hi <%=@email_message.receiver.fullname %>, This is a mail from Science Beehive ! 
    
     <%=@email_message.sender.fullname %> sent you this message :: 
    =======
 
      <%=strip_tags(@email_message.content)%>
    
    =======
    Have A Nice Day ! 
    @science_beehive team.