<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%=@email_message.receiver.fullname %>, This is a mail from Science Beehive ! </h1>
    <h1> <%=@email_message.sender.fullname %> sent you this message :: </h1>
    =======
    <br>
      <%=@email_message.content.html_safe%>
    <br>
    =======
    <h1>Have A Nice Day ! </h1>
    <h3> @science_beehive team. </h3>
  </body>
</html>