.profile.col-md-10.col-md-offset-1.margin-bottom-10
  %div
    .row
      .col-md-12.profile-info
        .row
          .col-md-6
            %h1.font-blue.sbold #{@user.fullname.upcase} [#{@user.username}]
          - if current_user != @user
            .col-md-6
              = render "relationship_actions", user: @user
        - if @user.title 
          %h4.font-blue.sbold  {#{@user.title}}
        %hr/
        %p
          - if @user.description 
            %h4.font-blue.sbold Description : #{@user.description}
        %p
        = render "user_info_list", user: @user
