.portlet.light
  .portlet-title
    .caption
      %i.font-yellow-casablanca.fa.fa-user
      People

  .portlet-body
    .row
      - people.each do |f|
        .col-md-6
          .mt-element-ribbon.bg-grey-steel
            .ribbon.ribbon-color-warning.uppercase
              = link_to user_path(f), class: 'bold font-white' do
                = "#{f.fullname.upcase} (#{f.username})"
            .ribbon-content
              %div
                .row.margin-bottom-10
                  = render 'users/user_info_list', user: f
                .row
                  = render 'relationship_actions', user: f
