%div{style: 'float: right'}
  - fr_btn_stuff = friend_btn_stuff(user)
  = link_to fr_btn_stuff[0], remote: true, id: "friend-#{user.id}-action", class: 'btn yellow-crusta' do
    %i{class: fr_btn_stuff[2]}
    %span
      #{fr_btn_stuff[1]}

  - fo_btn_stuff = follow_btn_stuff(user)
  = link_to fo_btn_stuff[0], remote: true, id: "follow-#{user.id}-action", class: 'btn yellow-crusta' do
    %i{class: fo_btn_stuff[2]}
    %span
      #{fo_btn_stuff[1]}
