%ul.list-inline
  %li
    %i.fa.fa-map-marker.font-yellow
    #{ISO3166::Country[user.country].name if ISO3166::Country[user.country] }
  %li
    %i.fa.fa-briefcase.font-yellow
    #{user.specialty.aggregate_with_field if user.specialty} 
  %li
    %i.fa.fa-thumbs-up.font-yellow
    #{user.posts.map{|p| p.votes_for.up.size}.reduce(:+)}
  %li
    %i.fa.fa-group.font-yellow
    #{user.followers.count} follower(s)
