= submit_tag "Send An Email ?", :id => "send_email_expand_button", :class => "btn cPostBtn cBtnArea yellow-crusta", :type => 'button' 
.newpost-body.form
  = form_for(post = EmailMessage.new, remote: true, html: { method: :post, role: 'form'}) do |f|
    .newemail-body-rest{ style: "display:none; " }
      .TitleArea
        = f.text_field :title, class: 'titleinput form-control', placeholder: 'Title...'
      .contentArea
        = f.cktext_area :content, id:"new_email_message_ck_content_id", placeholder: 'Content...', class: 'contentArea form-control margin-top-10', rows: 8
        = f.hidden_field :receiver_id, value: params[:id]

      .cBtnArea
        = f.submit "Send Now!", class:'btn cPostBtn yellow-crusta'
