- fo_btn_stuff = follow_btn_stuff(@user)
$("#follow-#{@user.id}-action").attr('href', '#{fo_btn_stuff[0]}');
$("#follow-#{@user.id}-action > span").text('#{fo_btn_stuff[1]}');
$("#follow-#{@user.id}-action > i").removeClass().addClass('#{fo_btn_stuff[2]}');
