- fr_btn_stuff = friend_btn_stuff(@user)
$("#friend-#{@user.id}-action").attr('href', '#{fr_btn_stuff[0]}');
$("#friend-#{@user.id}-action > span").text('#{fr_btn_stuff[1]}');
$("#friend-#{@user.id}-action > i").removeClass().addClass('#{fr_btn_stuff[2]}');
= render template: 'users/follow_action'
