= render 'get_user_simplified_info'
-if current_user != @user
  = render 'user_send_email'
- @posts.reverse.each do |post|
  .row
    .col-md-8.col-md-offset-2
      = render 'posts/post_portlet', post: post


