.containerFlex
  .content
    .logoName
      =image_tag image_path('SB-Logo.png')
    / Form Module
    .module.form-module
      .form
      .form
        %h2 Forgot your password?
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.label :email
          = f.email_field :email, autofocus: true
          = f.button "Send me reset password instructions"
        = render "devise/shared/links"
