.col-md-8
  .row
    .col-md-12.no-padding
      = render template: 'posts/new'
  .div#posts-container
    - @posts.each do |post|
      = render 'home_post', post: post
    - if @posts.count > 10
      = link_to "Load more...", "?page=2", class: 'btn yellow-crusta btn-block bold uppercase', id: 'posts_pagination', remote: true
.col-md-4
  .portlet.light.bordered
    .portlet-body
      .search-filter.bordered
        .search-label.uppercase Search By
        .input-icon.right
          %i.icon-magnifier
        = form_tag({controller:"home", action:"index" , beehive: 'search'}, method: :get) do
          %input.form-control{placeholder: "Filter by tag", type: "text", name: "tags", value: params[:tags]}/
          %br
          .search-label.uppercase Specialty
          = select_tag :specialty_id, grouped_options_for_select(fields, params[:specialty_id] || current_user.specialty_id), { class: 'form-control',  }
          %br
          %button.btn.yellow-crusta.bold.uppercase.btn-block Search
          - if params[:specialty_id].present?
            = link_to "Clear Search", {controller: 'home'}, class: "btn yellow-crusta bold upercase btn-block"
