var posts = ''
- @posts.each do |p|
  posts += '#{j render 'home_post', post: p}';

var posts_container = $("#posts-container");
$(posts).hide().appendTo(posts_container).fadeIn();
var posts_pagination_link = $(posts_container).find('#posts_pagination');

posts_pagination_link.remove()
- if @posts.count > 10
  post_pagination_link.attr("href", "/home/#{params[:beehive]}?page=#{params[:page].to_i + 1}");
  post_pagination_link.appendTo(posts_container);
