- unless @email_message.errors.any?
  $('form#new_email_message').trigger('reset');
  $("#send_email_expand_button").trigger('click');
  CKEDITOR.instances.new_email_message_ck_content_id.setData("");
- else
  - @email_message.errors.full_messages.each do |v|
    toastr.error("#{v}")
