 Hello <%= current_user.first_name %> ! </br> Here Is Your Notification Log ! </br></br></br>

<div id = "notification_log">
	 <div id="notifications" data-notification-log-id="<%= @current_user.notification_log.id %>">
	 	<%= render @notifications %>
	 </div>
</div>