*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
a { color: inherit; }
/*Global Styles*/
/***Input Field ***/
.InputField input{
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  width:316px;
  border:none;
  border-bottom:1px solid #594a42;
  color:#594a42;
  background: #f9f9f9;
}
.InputField input:focus{
  outline:none;
  border-bottom:1px solid #ffd21f;
}
/*Science Beehive yellows*/
.sb-text-yellow{
  color:#ffd21f;
}
.sb-bk-yellow{
  background-color:#ffd21f;
}
.sb-text-brown{
  color:#594a42 !important;
}
.errorRed{
  color:#e74c3c;
  font-size: 25px;
}
.successGreen{
  color:#2ecc71;
  font-size: 25px;
}
.warningYellow{
  color:#ffd21f;
  font-size: 25px;
}
/*Buttons Styles*/
.btn-brown{
  background: none;
  border: 1px solid #594a42;
  color: #594a42;
  transition: all .3s ease-in-out;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}
.btn-brown:hover{
  background: #ffd21f;
  color: white;
  border-color: #ffd21f;
}
/*Aligns*/
.rowCenter{
  display: flex;
  align-items: center;
}
.react-confirm-alert{
  color: #594a42 ;
}
.react-confirm-alert-button-group > button{
  width: 50%;
  border-radius: 0px;
  background-color:#594a42;
}
.react-confirm-alert-button-group > button:first-child{
  background-color:#ffd21f;
}
