.containerFlex
  .content
    .logoName
      = image_tag image_path('SB-Logo.png')
    / Form Module
    .module.form-module
      .form
      .form
        %h2 Login to your account
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, placeholder: 'Email', autofocus: true
          = f.password_field :password, placeholder: 'Password', autocomplete: "off"
          - if devise_mapping.rememberable?
            .field
              = f.label :remember_me
              = f.check_box :remember_me
          = f.button 'Login'
