.portlet.light{ id: "post-#{post.id}-portlet" }
  .portlet-title
    .caption
      %i.font-yellow-casablanca{ class: post_portlet_icon_class(post) }
      = link_to user_path(post.author), class: 'caption-subject bold font-yellow-casablanca' do
        = "#{post.author.fullname.upcase}"
        = "(#{post.author.title})" if post.author.title.present?
      %span.caption-helper
        = post.author.sb_member? ? post.specialty.aggregate_with_field : post.author.specialty.aggregate_with_field
      - if post.research_team.present? && controller_name != "research_teams"
        = link_to post.research_team, class: "caption-helper bold" do
          = "@#{post.research_team.name}"

  .portlet-body
    %h4.bold
      = post.title
    %p
      = post.content.html_safe
    %span.post-tags
      - post.tags.each do |t|
        .badge.badge-warning
          = t.name

    %hr/

    = link_to toggle_upvote_post_path(post), remote: true, class: 'btn btn-circle btn-icon-only yellow-crusta' do
      %i{ class: post_thumbs_up_icon_class(post), id: "post-#{post.id}-thumbs-up-icon" }

    = link_to toggle_downvote_post_path(post), remote: true, class: 'btn btn-circle btn-icon-only yellow-crusta' do
      %i{ class: post_thumbs_down_icon_class(post), id: "post-#{post.id}-thumbs-down-icon"}

    %span.text-muted.bold{ id: "post-#{post.id}-vote-sum"}
      #{ post.votes_for.up.size - post.votes_for.down.size }

    %hr/

    .mt-comments{ id: "post-#{post.id}-comments" }
      - if post.comments.any?
        - if post.comments.count >= 1
          - if controller_name == "posts"
            - comments = post.comments.paginate(page: 1).order(created_at: :desc)
            - if comments.count > 10
              = link_to "See more comments", paginate_post_comments_path(post, page: 2), remote: true
            - comments.reverse.each do |c|
              = render "comments/comment", comment: c
          - else
            = link_to "See more comments", post_path(post)
            = render "comments/comment", comment: post.comments.last

    = form_for(Comment.new(post: post), url: post_comments_path(post), remote: true, html: { method: :post, role: 'form'}) do |f|
      = f.text_area :content, placeholder: 'Write a comment', id: "comment-content-post-#{post.id}", class: 'form-control margin-top-10 comment-content-area', rows: 1
      = f.submit "Comment", class: 'btn yellow-crusta margin-top-10'


