- unless @post.errors.any?
  $('form#new_post').trigger('reset');
  $('#tags-input').removeTag()
  $('#newPostClose').trigger('click');
  if($('.portlet-body').length == 1) location.reload();
  var new_post_portlet = '#{j render 'posts/post_portlet', post: @post}';
  $(new_post_portlet).hide().prependTo('#posts-container').fadeIn();
  CKEDITOR.instances.new_post_ck_content_id.setData("")
- else
  - @post.errors.full_messages.each do |v|
    toastr.error("#{v}")
