.newpost.light.bordered
  .newpost-title
    .caption
      %i.fa.fa-edit.font-yellow-crusta
      %span.caption-subject.font-yellow-crusta.bold.uppercase New Post
      %i.fa.fa-times.closebtn#newPostClose{ style: "display:none; " }

  .newpost-body.form
    = form_for(post = Post.new, remote: true, html: { method: :post, role: 'form'}) do |f|
      .TitleArea
        = f.text_field :title, class: 'titleinput form-control', placeholder: 'Title...'

      .newpost-body-rest{ style: "display:none; " }

        .TypeArea
          = f.select :type, Post.types.keys, {}, { class: 'form-control typeSelect' }

        .specialtyArea{ class: ("hidden" unless current_user.sb_member?), id: ("post_specialty_group" unless current_user.sb_member?) }
          = f.select :specialty_id, grouped_options_for_select(fields, current_user.specialty_id), {}, { class: 'form-control' }
        .contentArea
          = f.cktext_area :content, id:"new_post_ck_content_id", placeholder: 'Content...', class: 'contentArea form-control margin-top-10', rows: 8
        .tagsArea
          = f.text_field :tags_string, value: '', placeholder: 'Tags...', class: 'form-control margin-top-10', id: 'tags-input'
          = f.hidden_field :research_team_id, value: params[:id] if controller_name == 'research_teams'

        .cBtnArea
          = f.submit class:'btn cPostBtn'
