$('#post-#{@post.id}-vote-sum').text(#{@post.votes_for.up.size - @post.votes_for.down.size});
$('#post-#{@post.id}-thumbs-up-icon').removeClass().addClass('#{post_thumbs_up_icon_class(@post)}');
$('#post-#{@post.id}-thumbs-down-icon').removeClass().addClass('#{post_thumbs_down_icon_class(@post)}');
