/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Mandatory plugins
 * require theme/plugins/font-awesome/css/font-awesome.min.css
 * require theme/plugins/simple-line-icons/simple-line-icons.min.css
 * require theme/plugins/bootstrap/css/bootstrap.min.css
 * require theme/plugins/bootstrap-switch/css/bootstrap-switch.min.css
 * require theme/plugins/bootstrap-toastr/toastr.min
 * require jquery.tagsinput

 *
 * Theme global styles
 * require theme/css/components.min.css
 * require theme/css/plugins.min.css
 * require theme/css/profile-2.min
 * require theme/css/search.min
 *
 * Theme layout styles
 * require theme/layout4/css/layout.min.css
 * require theme/layout4/css/themes/default.min.css
 * require theme/layout4/css/custom.min.css
 *
 * require comments
 *= require active_admin
 *= require jquery.atwho
 *= require jquery-ui
 *= require_self
 */

.no-padding {
  padding: 0 !important;
}
body{
  background: white;
}
/* header */
.page-header{
  background: white!important;
  border-top: #FFD121 2px solid !important;
  border-bottom: 1px solid #ddd !important;
  box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.2) !important;
}
.logo-default{
  width: 50px !important;
  margin: 7px 0px !important;
}
.dropdown-dark{
  padding: 0px ;
}
.badge-success{
  background-color: #FFD121 !important;
}
.slimScrollDiv{
  background: #F1F2F2 !important;
}
.details, .external h3{
  color : #122632!important;
}
.external{
  background: #FFD121 !important;
}
.external h6{
  text-align: center;
  color: white !important;
  text-decoration: none !important;
}
.external a{
  color: white !important;
  text-decoration: none !important;
  font-weight: bold;
}
/*New post*/
.closebtn{
  float: right;
  color: #122632;
  opacity: 0.3;
  cursor: pointer;
}
.closebtn:hover{
  opacity: 1;
}
.TitleArea, .contentArea{
  margin: 20px 0px;
}
.TitleArea input, .contentArea textarea, .new_comment textarea, .input-icon input, .messagesArea textarea{
  border: none;
  height: 45px;
  border-bottom: #f5f5f5 solid 2px;
  background: none;
}
.TitleArea input:focus, .contentArea textarea:focus, .new_comment textarea:focus , .input-icon input:focus, .messagesArea textarea:focus{
  border-bottom: #FFD121 solid 2px
}
.TitleArea input::placeholder, .contentArea textarea::placeholder, .new_comment textarea::placeholder, .input-icon input::placeholder, .messagesArea textarea::placeholder, .siderbarSearch input::placeholder{
  color: #D1D3D4;
}
.TitleArea input:focus::placeholder, .contentArea textarea:focus::placeholder, .new_comment textarea:focus::placeholder , .input-icon input:focus::placeholder, .messagesArea textarea:focus::placeholder, .siderbarSearch input:focus::placeholder{
  color: #F1F2F2;
}
.siderbarSearch{
  text-align: center;

}
.siderbarSearch input{
  border: none;
  height: 45px;
  border-bottom: black solid 2px;
  background: none;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.siderbarSearch input:focus{
  outline: none;
  border-bottom: #FFD121 solid 2px
}
.tagsinput{
  border-radius: 30px !important;
  background: #F1F2F2 !important;
  border: none !important;
  height: 42px !important;
  min-height: 0px !important;
}
.cBtnArea{
  text-align: center;
  margin: 20px 0px;
}
.cBtnArea input{
  background: none;
  border: #122632 2px solid;
  padding: 10px 20px;
  color: #122632;
}
.cBtnArea input:hover{
  background:#FFD121;
  color: white;
  border: #FFD121 2px solid;
}
.TypeArea select{
  -webkit-appearance: none !important;
  border: 1px solid #f5f5f5;
}
.TypeArea select:focus{
  border: 1px solid #FFD121;
}
.specialtyArea select{
  -webkit-appearance: none !important;
  border: 1px solid #f5f5f5;
}
.specialtyArea select:focus{
  border: 1px solid #FFD121;
}
.newpost{
  padding: 30px;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.newpostSyler{
  background: #FCFCFC;
}
.tagsinput .tag{
  border-radius: 30px !important;
  border: 1px #FFD121 solid !important;
  background: #FFD121 !important;
  color: white !important;
  font-weight:500 !important;
}
.tagsinput a{
  color: white !important;
}
/*sidebar*/
.page-sidebar-menu i, .page-sidebar-menu span{
  color: #122632 !important;
}
.account-toggler{
  display: inline-block;
  margin: 30.5px 14px 0 6px;
  float: right;
}
.ResponsiveMenu, .AccountMenu, .NotifMenu{
  display: none;
}
#notifications a, .chatListContainer li a{
  background: #F1F2F2 !important;
  padding: 10px 30px !important;
  color: black;
  border-left: solid #FFD121 5px !important;
  line-height: 3;

}
.chatListContainer{
  list-style: none !important;
}
.messagesArea .btn{
  margin-top: 10px;
  width: 10%;
}
.messageBody p{
  background: #F1F2F2 !important;
  padding: 10px 30px !important;
  color: black;
  border-radius: 50px!important;
  font-size: 15px;
  margin: 0px;
}
.messageBody span{
  text-align: right;
  font-size: 10px;
  display: block;
  padding-right: 15px;
}
.titlesChat h3 a{
  color:#FFD121 !important;
  text-decoration: none;
}
@media (max-width: 767px){
  .page-top{
    display: none !important;
  }
  .ResponsiveMenu{
    display: block;
    display: flex;
    background-color: #E6E7E8;
    width: 100%
  }
  .ResponsiveMenu .tab1, .ResponsiveMenu .tab2{
    width: 50%;
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .ResponsiveMenu .tab1{
    background-color: #F1F2F2
  }
  .ResponsiveMenu .tab2{
    background-color: #E6E7E8
  }
  .ResponsiveMenu .tab2 .noticon{
    margin: 10px 0px;
  }
  .AccountMenu{
    display: none;
  }
  .AccountMenu ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
  }
  .AccountMenu li{
    color: #122632;
    background: #F1F2F2;
    padding: 15px 0px;
    margin: 5px 0px;
  }
  .AccountMenu a{
    color: #122632;
  }
  .NotifMenu{
    display: none;
  }
  .NotifMenu h3{
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
  }
  .NotifMenu li{
    background: #F1F2F2;
    padding: 20px 0px 20px 15px;
    margin: 5px 0px;
  }
  .NotifMenu .time{
    float: right;
    margin-right: 15px;
    color: grey;
  }

}
