// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mt-comment-body {
  padding-left: 0px !important;
}

.vote-btn
{
	font-size:  15px;
	background-color: transparent !important;
	color: #f3c200 !important;
	width: 22px !important;
	height: 20px !important;
	padding-top: 0px !important;
	padding-bottom: 22px !important;
  border: 0 !important;
}
