// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require theme/plugins/bootstrap-toastr/toastr.min
*= require_directory ./landing
*/

body {
  background: url(image_path('login-bg.svg'))!important;
  background-size: 350px!important;
  background-repeat: repeat!important;
  -webkit-background-size: 350px auto!important;
  -moz-background-size: 350px auto!important;
  -ms-background-size: 350px auto!important;
  -o-background-size: 350px auto!important;
}
.containerFlex
{
  display: flex;
  align-items: center;justify-content: center;
  min-height: 750px;
}
.content {
  margin: auto;
  text-align: center;
}
.logoName{
  margin-bottom: 50px;
}
.logoName img{
  height: 120px;
}

.blue {
  background-color: blue;
}