.page-header.navbar.navbar-fixed-top
  /
    BEGIN HEADER INNER
  .page-header-inner
    /
      BEGIN LOGO
    .page-logo
      = link_to root_path do
        = image_tag('SB-icon.svg', class: 'logo-default', style: 'width: 50px')
        /%img.logo-default{:alt => "logo", src: "assets/images/SB-icon.svg"}/
        / .menu-toggler.sidebar-toggler
        / DOC: Remove the above "hide" to enable the sidebar toggler button on header
    / END LOGO
    / BEGIN RESPONSIVE MENU TOGGLER
    %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}

    / END RESPONSIVE MENU TOGGLER
    / BEGIN PAGE TOP

    .page-top
      / BEGIN HEADER SEARCH BOX
      / DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box
      -#%form.search-form{:action => "page_general_search_2.html", :method => "GET"}
        -#.input-group
          -#%input.form-control.input-sm{:name => "query", :placeholder => "Search...", :type => "text"}/
          -#%span.input-group-btn
            -#%a.btn.submit{:href => "javascript:;"}
              -#%i.icon-magnifier
      / END HEADER SEARCH BOX
      / BEGIN TOP NAVIGATION MENU
      .top-menu.account-collapse.collapse
        %ul.nav.navbar-nav.pull-right
          %li.separator.hide
          /
            BEGIN NOTIFICATION DROPDOWN
          /
            DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte  
          %li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification.dropdown-dark
            %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
              %i.icon-bell
              %span.badge.badge-success#unread_notifications_number
                =current_user.notification_log.unread_count > 0  ? current_user.notification_log.unread_count : "-"
            %ul.dropdown-menu
              %li
                .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: auto;"}
                  %ul.dropdown-menu-list.scroller{"data-handle-color" => "#637283", "data-initialized" => "1", :style => "height: auto; overflow: hidden; width: auto;"}
                    %li
                      :javascript
                        $('#header_notification_bar').on("click",function(){    
                              $.ajax({ 
                              type: 'GET',
                              url: "#{clear_unread_count_notification_logs_path}",
                              success: function(){
                              }
                              });                    
                        $('#unread_notifications_number').text("#{
                        current_user.notification_log.unread_count > 0  ?
                         current_user.notification_log.unread_count : "-"}"); 
                        });  
                      - current_user.notification_log.notifications.limit(6).order(created_at: :desc).each do |n|
                        %a{:href => n.url}
                          %span.time= n.created_at.localtime.strftime("%I:%M")
                          %span.details
                            %span.label.label-sm.label-icon.label-success
                              %i.fa.fa-plus
                            = n.content
                  .slimScrollBar{:style => "width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(99, 114, 131);"}
                  .slimScrollRail{:style => "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"}
                %li.external
                  %h6
                    %span.bold
                    = link_to "View All Notifications", notification_log_path(current_user.notification_log.id)

          /
            END NOTIFICATION DROPDOWN
          /
            BEGIN USER LOGIN DROPDOWN
          /
            DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
          %li.dropdown.dropdown-user.dropdown-dark
            %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
              %span.username.username-hide-on-mobile
                = current_user.fullname
              /
                DOC: Do not remove below empty space( ) as its purposely used
              - #%img.img-circle{:alt => "", :src => "assets/theme/layout4/img/avatar9.jpg"}/
            %ul.dropdown-menu.dropdown-menu-default
              %li
                = link_to user_path(current_user) do
                  %i.icon-user
                  My Timeline
              %li
                = link_to edit_user_registration_path do
                  %i.icon-pencil
                  Edit Profile
              %li.divider
              %li
                = link_to users_relationships_path() do
                  %i.icon-people
                  Friends and Followers
              %li.divider
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.icon-key
                  Log Out
          / END USER LOGIN DROPDOWN
      / END TOP NAVIGATION MENU
    / END PAGE TOP
  / END HEADER INNER
.ResponsiveMenu
  .tab1
    %h5.username.username-hide-on-mobile
      = current_user.fullname
  .tab2
    .noticon
      %i.icon-bell
      %span.badge.badge-success 7
.AccountMenu
  %ul
    %li
      = link_to user_path(current_user) do
        %i.icon-user
        My Timeline
    %li
      = link_to edit_user_registration_path do
        %i.icon-pencil
        Edit Profile
    %li
      = link_to users_relationships_path() do
        %i.icon-people
        Friends and Followers
    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.icon-key
        Log Out
.NotifMenu
  %h3
    %span.bold 12 pending
    notifications
  %a{:href => "page_user_profile_1.html"} view all
  %ul.dropdown-menu-list.scroller{"data-handle-color" => "#637283", "data-initialized" => "1", :style => "height: 250px; overflow: hidden; width: auto;"}
    %li
      %a{:href => "javascript:;"}
        %span.details
          %span.label.label-sm.label-icon.label-success
            %i.fa.fa-plus
          New user registered.
        %span.time just now
    %li
      %a{:href => "javascript:;"}
        %span.details
          %span.label.label-sm.label-icon.label-danger
            %i.fa.fa-bolt
          Server #12 overloaded.
        %span.time 3 mins
  .slimScrollBar{:style => "width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(99, 114, 131);"}
  .slimScrollRail{:style => "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"}
