.page-sidebar.navbar-collapse.collapse
  %ul.page-sidebar-menu{"data-auto-scroll" => "true", "data-keep-expanded" => "false", "data-slide-speed" => "200"}
    %li.nav-item.start.active.open
      %a.nav-link.nav-toggle{href: "javascript:;"}
        %i.fa.fa-home.font-yellow-gold
        %span.title.font-yellow-gold Beehives
        %span.selected
        %span.arrow
      %ul.sub-menu{style: "display: block;"}
        %li.nav-item.start
          = link_to '/home/global', class: 'nav-link' do
            %i.fa.fa-globe.font-yellow
            %span.title.font-yellow Global Beehive
        %li.nav-item.start
          = link_to '/home/local', class: 'nav-link' do
            %i.icon-location-pin.font-yellow
            %span.title.font-yellow Local Beehive
        %li.nav-item.start
          = link_to '/home/specialty', class: 'nav-link' do
            %i.fa.fa-star.font-yellow
            %span.title.font-yellow Specialty Beehive
        %li.nav-item.start
          = link_to '/home/private', class: 'nav-link' do
            %i.icon-people.font-yellow
            %span.title.font-yellow My Beehive

        %li.nav-item.start
          = link_to notification_log_path(user.notification_log), class: 'nav-link' do
            %i.fa.fa-bell.font-yellow
            %span.title.font-yellow Notification Log
        %li.nav-item.start
          = link_to chat_rooms_path, class: 'nav-link' do
            %i.fa.fa-comments.font-yellow
            %span.title.font-yellow Science Discussion
            %br
            %span.badge.badge-success#unseen_messages_number
              =current_user.has_unseen_rooms? ? "NEW !" : "ALL SEEN"
        %hr
        %li.nav-item.start.siderbarSearch
          = form_tag(users_show_path, {id: "users-search-form", method: :get}) do
            = hidden_field_tag :id,'', id: 'result_id'
            = autocomplete_field_tag :user,'', autocomplete_user_username_users_path(scope:"all"), id_element: '#result_id', placeholder: "Search Members", class: 'field'





    = render 'research_teams/sidebar'
  / END SIDEBAR MENU
