!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{name: "Description", content: ""}
    %title Science Beehive
    = csrf_meta_tags
    = favicon_link_tag
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag Ckeditor.cdn_url
  %body.page-container-bg-solid.page-header-fixed.page-sidebar-closed-hide-logo
    .notification_place_holder
    = render partial: 'layouts/header'
    / Begin Header and Content Divider
    .clearfix
    / End Header and Content Divider
    / Begin Content Container
    .page-container
      / Beging Sidebar
      .page-sidebar-wrapper
        = render partial: 'layouts/sidebar', locals: {user: current_user}
      / End Sidebar
      / Begin Content
      .page-content-wrapper
        .page-content
          - unless @no_title
            .page-head
              .page-title
                %h1
                  = @title || "Science Beehive"
            .page-toolbar
          = yield
      / End Content
    / End Content Container
    = render "layouts/flash"
