!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "#000000", :name => "theme-color"}/
    %meta{name: "description", content: "Share knowledge in your specialty and ask in others'"}/
    %meta{name: "keywords", content: "science, knowledge, share, forum, dicuss"}/
    %meta{property: "og:title", content: "Science Beehive"}/
    %meta{property: "og:description", content: "Share knowledge in your specialty and ask in others"}/
    %meta{property: "og:image:url", content: "https://www.sciencebeehive.com/img/beePP.png"}/
    %meta{property: "og:url", content: "https://www.sciencebeehive.com/"}/

    /
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    %link{:href => "%PUBLIC_URL%/manifest.json", :rel => "manifest"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "https://www.sciencebeehive.com/", :rel => "canonical"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:300,400,700", :rel => "stylesheet"}/
    /
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    %title Science Beehive
  %body
    %noscript
      You need to enable JavaScript to run this app.
    = javascript_pack_tag 'index'
    = stylesheet_pack_tag 'index'
    /
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
