!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title Science Beehive - Share your knowledge
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900", rel: "stylesheet prefetch"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet prefetch"}/
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'landing', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = render 'layouts/flash'
